{% extends 'clinic/base.html.twig' %}

{% block content %}
    <div style="margin-top: 50px;"></div>
    <h1>{{ 'home.title'|trans({}, 'messages') }}</h1>
    <p class="lead">{{ 'home.subtitle'|trans({}, 'messages') }}</p>

    <div class="mt-4">
        <span class="badge bg-info text-dark">{{ 'hello'|trans({}, 'messages') }}</span>
    </div>

    <div class="mt-4">
        <a class="btn btn-primary" href="#">{{ 'home.cta'|trans({}, 'messages') }}</a>
    </div>
{% endblock %}
