# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    App\Presentation\Clinic\Controller\:
        resource: '../src/Presentation/Clinic/Controller/'
        tags: ['controller.service_arguments']

    App\Presentation\Portal\Controller\:
        resource: '../src/Presentation/Portal/Controller/'
        tags: ['controller.service_arguments']

    App\Presentation\Backoffice\Controller\:
        resource: '../src/Presentation/Backoffice/Controller/'
        tags: ['controller.service_arguments']

    App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider.clinic:
        class: App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider
        arguments:
            $users: '@App\IdentityAccess\Domain\Repository\UserRepositoryInterface'
            $type: !php/const App\IdentityAccess\Domain\ValueObject\UserType::CLINIC

    App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider.portal:
        class: App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider
        arguments:
            $users: '@App\IdentityAccess\Domain\Repository\UserRepositoryInterface'
            $type: !php/const App\IdentityAccess\Domain\ValueObject\UserType::PORTAL

    App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider.backoffice:
        class: App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider
        arguments:
            $users: '@App\IdentityAccess\Domain\Repository\UserRepositoryInterface'
            $type: !php/const App\IdentityAccess\Domain\ValueObject\UserType::BACKOFFICE

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # ============================================================================
    # BOUNDED CONTEXT: SHARED
    # ============================================================================

    # Clock - System Clock by default
    App\Shared\Domain\Time\ClockInterface:
        class: App\Shared\Infrastructure\Time\SystemClock

    # UUID Generator - Symfony UUIDv7 by default
    App\Shared\Domain\Identifier\UuidGeneratorInterface:
        class: App\Shared\Infrastructure\Identifier\SymfonyUuidV7Generator

    # Message Context and Actor Context (singletons)
    App\Shared\Application\Messaging\MessageContext: ~
    App\Shared\Application\Security\ActorContext: ~

    # Messenger Middlewares
    App\Shared\Infrastructure\Bus\Messenger\Middleware\MessageMetadataMiddleware: ~
    App\Shared\Infrastructure\Bus\Messenger\Middleware\MessageContextMiddleware: ~
    App\Shared\Infrastructure\Bus\Messenger\Middleware\MessageLoggingMiddleware:
        arguments:
            $logger: '@monolog.logger.messenger'

    # Bus Interfaces
    App\Shared\Application\Bus\CommandBusInterface:
        class: App\Shared\Infrastructure\Bus\Messenger\CommandBus
        arguments:
            $messageBus: '@messenger.bus.command'

    App\Shared\Application\Bus\QueryBusInterface:
        class: App\Shared\Infrastructure\Bus\Messenger\QueryBus
        arguments:
            $messageBus: '@messenger.bus.query'

    App\Shared\Application\Bus\EventBusInterface:
        class: App\Shared\Infrastructure\Bus\Messenger\EventBus
        arguments:
            $messageBus: '@messenger.bus.event'

    # Doctrine naming strategy with BC prefix
    app.orm.naming_strategy.bounded_context_prefix:
        class: App\Shared\Infrastructure\Persistence\Doctrine\Mapping\BoundedContextPrefixNamingStrategy
        arguments:
            - '@doctrine.orm.naming_strategy.underscore_number_aware'

    # ============================================================================
    # BOUNDED CONTEXT: IDENTITY ACCESS
    # ============================================================================

    App\IdentityAccess\Domain\Repository\UserRepositoryInterface:
        class: App\IdentityAccess\Infrastructure\Persistence\Doctrine\Repository\DoctrineUserRepository

    App\IdentityAccess\Infrastructure\Persistence\Doctrine\Mapper\UserMapper: ~

    # ============================================================================
    # BOUNDED CONTEXT: TRANSLATION
    # ============================================================================

    App\Translation\Domain\Repository\TranslationCatalogRepository:
        class: App\Translation\Infrastructure\Persistence\Doctrine\Repository\DoctrineTranslationCatalogRepository

    App\Translation\Domain\Repository\TranslationSearchRepository:
        class: App\Translation\Infrastructure\Persistence\Doctrine\Repository\DoctrineTranslationSearchRepository

    App\Translation\Application\Port\CatalogCacheInterface:
        class: App\Translation\Infrastructure\Cache\SymfonyCatalogCache
        arguments:
            $cachePool: '@cache.translation_catalog'

    App\Translation\Application\Port\AppScopeResolverInterface:
        class: App\Translation\Infrastructure\Resolver\HostnameAppScopeResolver

    App\Translation\Application\Port\LocaleResolverInterface:
        class: App\Translation\Infrastructure\Resolver\DefaultLocaleResolver

    App\Translation\Infrastructure\Provider\TranslationCatalogProvider:
        arguments:
            $repository: '@App\Translation\Domain\Repository\TranslationSearchRepository'
            $cache: '@App\Translation\Application\Port\CatalogCacheInterface'
            $ttl: 3600
        tags:
            - { name: kernel.reset, method: reset }

    App\Translation\Infrastructure\Symfony\Translator\CatalogTranslator:
        decorates: translator
        arguments:
            $fallbackTranslator: '@App\Translation\Infrastructure\Symfony\Translator\CatalogTranslator.inner'
            $catalogProvider: '@App\Translation\Infrastructure\Provider\TranslationCatalogProvider'
            $scopeResolver: '@App\Translation\Application\Port\AppScopeResolverInterface'
            $localeResolver: '@App\Translation\Application\Port\LocaleResolverInterface'
            $formatter: '@translator.formatter'
        tags:
            - { name: kernel.reset, method: reset }

    # ============================================================================
    # BOUNDED CONTEXT: CLINIC
    # ============================================================================

    App\Clinic\Domain\Repository\ClinicRepositoryInterface:
        class: App\Clinic\Infrastructure\Persistence\Doctrine\Repository\DoctrineClinicRepository

    App\Clinic\Domain\Repository\ClinicGroupRepositoryInterface:
        class: App\Clinic\Infrastructure\Persistence\Doctrine\Repository\DoctrineClinicGroupRepository

    App\Clinic\Application\Port\ClinicReadRepositoryInterface:
        class: App\Clinic\Infrastructure\Persistence\Doctrine\Repository\DoctrineClinicReadRepository

    App\Clinic\Application\Port\ClinicGroupReadRepositoryInterface:
        class: App\Clinic\Infrastructure\Persistence\Doctrine\Repository\DoctrineClinicGroupReadRepository

    App\Clinic\Infrastructure\Persistence\Doctrine\Mapper\ClinicMapper: ~
    App\Clinic\Infrastructure\Persistence\Doctrine\Mapper\ClinicGroupMapper: ~

    # ============================================================================
    # BOUNDED CONTEXT: CLINIC ACCESS
    # ============================================================================

    App\AccessControl\Domain\Repository\ClinicMembershipRepositoryInterface:
        class: App\AccessControl\Infrastructure\Persistence\Doctrine\Repository\DoctrineClinicMembershipRepository

    App\AccessControl\Application\Port\ClinicMembershipReadRepositoryInterface:
        class: App\AccessControl\Infrastructure\Persistence\Doctrine\Repository\DoctrineClinicMembershipReadRepository

    App\AccessControl\Application\Port\MembershipAdminRepositoryInterface:
        class: App\AccessControl\Infrastructure\Persistence\Doctrine\Repository\DoctrineMembershipAdminRepository

    App\AccessControl\Infrastructure\Persistence\Doctrine\Mapper\ClinicMembershipMapper: ~

    # Context
    App\Shared\Application\Context\CurrentClinicContextInterface:
        class: App\Shared\Application\Context\CurrentClinicContext

when@dev: &services_dev
    services:
        App\Fixtures\:
            resource: '../fixtures/'
            autowire: true
            autoconfigure: true

when@test: *services_dev
