# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    App\Presentation\Clinic\Controller\:
        resource: '../src/Presentation/Clinic/Controller/'
        tags: ['controller.service_arguments']

    App\Presentation\Portal\Controller\:
        resource: '../src/Presentation/Portal/Controller/'
        tags: ['controller.service_arguments']

    App\Presentation\Backoffice\Controller\:
        resource: '../src/Presentation/Backoffice/Controller/'
        tags: ['controller.service_arguments']

    App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider.clinic:
        class: App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider
        arguments:
            $users: '@App\IdentityAccess\Domain\Repository\UserRepositoryInterface'
            $type: !php/const App\IdentityAccess\Domain\UserType::CLINIC

    App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider.portal:
        class: App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider
        arguments:
            $users: '@App\IdentityAccess\Domain\Repository\UserRepositoryInterface'
            $type: !php/const App\IdentityAccess\Domain\UserType::PORTAL

    App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider.backoffice:
        class: App\IdentityAccess\Infrastructure\Security\Symfony\ContextUserProvider
        arguments:
            $users: '@App\IdentityAccess\Domain\Repository\UserRepositoryInterface'
            $type: !php/const App\IdentityAccess\Domain\UserType::BACKOFFICE

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # ============================================================================
    # BOUNDED CONTEXT: SHARED
    # ============================================================================

    # Clock - System Clock by default
    App\Shared\Domain\Time\ClockInterface:
        class: App\Shared\Infrastructure\Time\SystemClock

    # UUID Generator - Symfony UUIDv7 by default
    App\Shared\Domain\Identifier\UuidGeneratorInterface:
        class: App\Shared\Infrastructure\Identifier\SymfonyUuidV7Generator

    # Domain Event Factory
    App\Shared\Application\Event\DomainEventFactoryInterface:
        class: App\Shared\Application\Event\DomainEventFactory

    # Bus Interfaces
    App\Shared\Application\Bus\CommandBusInterface:
        class: App\Shared\Infrastructure\Bus\Messenger\CommandBus
        arguments:
            $messageBus: '@messenger.bus.command'

    App\Shared\Application\Bus\QueryBusInterface:
        class: App\Shared\Infrastructure\Bus\Messenger\QueryBus
        arguments:
            $messageBus: '@messenger.bus.query'

    App\Shared\Application\Bus\EventBusInterface:
        class: App\Shared\Infrastructure\Bus\Messenger\EventBus
        arguments:
            $messageBus: '@messenger.bus.event'

    # Doctrine naming strategy with BC prefix
    app.orm.naming_strategy.bounded_context_prefix:
        class: App\Shared\Infrastructure\Persistence\Doctrine\Mapping\BoundedContextPrefixNamingStrategy
        arguments:
            - '@doctrine.orm.naming_strategy.underscore_number_aware'

    # ============================================================================
    # BOUNDED CONTEXT: IDENTITY ACCESS
    # ============================================================================

    App\IdentityAccess\Domain\Repository\UserRepositoryInterface:
        class: App\IdentityAccess\Infrastructure\Persistence\Doctrine\Repository\DoctrineUserRepository

    App\IdentityAccess\Infrastructure\Persistence\Doctrine\Mapper\UserMapper: ~
