<!-- Header Actions -->
<button class="kt-btn kt-btn-outline px-2" type="button">
    <i class="ki-filled ki-message-text"></i>
</button>

<button class="kt-btn kt-btn-outline px-2" type="button">
    <i class="ki-filled ki-user-square"></i>
</button>

<button class="kt-btn kt-btn-outline px-2" type="button">
    <i class="ki-filled ki-add-files"></i>
</button>

<!-- Search Input -->
<div class="kt-input hidden lg:flex">
    <i class="ki-filled ki-magnifier"></i>
    <input class="kt-input" placeholder="Rechercher" type="text"/>
</div>

<button class="kt-btn kt-btn-outline px-2" type="button">
    <i class="ki-filled ki-clipboard"></i>
    <span class="hidden lg:block">Rapports</span>
</button>

<button class="kt-btn kt-btn-mono" type="button">
    <i class="ki-filled ki-plus"></i>
    <span class="hidden lg:block">Ajouter</span>
</button>

