<!-- Logo -->
<div class="flex items-center justify-center shrink-0 border-e border-border w-(--sidebar-collapsed-width) h-(--header-height) bg-muted">
    <a data-discover="true" href="{{ path('clinic_home') }}">
        <img alt="Logo" class="dark:hidden min-h-[30px]" src="{{ asset('theme/media/app/mini-logo-gray.svg') }}"/>
        <img alt="Logo" class="hidden dark:block min-h-[30px]" src="{{ asset('theme/media/app/mini-logo-gray-dark.svg') }}"/>
    </a>
</div>

