<!-- Sidebar Bottom Icons -->
<a class="kt-btn kt-btn-icon kt-btn-ghost" href="#">
    <i class="ki-filled ki-messages"></i>
</a>

<a class="kt-btn kt-btn-icon kt-btn-ghost" href="#">
    <i class="ki-filled ki-notepad"></i>
</a>

<a class="kt-btn kt-btn-icon kt-btn-ghost" href="#">
    <i class="ki-filled ki-setting"></i>
</a>

