<!-- Sidebar Icon Links -->
<a class="kt-btn kt-btn-icon kt-btn-ghost" data-kt-tooltip="true" data-kt-tooltip-placement="right" href="#">
    <i class="ki-filled ki-menu"></i>
    <span class="kt-tooltip" data-kt-tooltip-content="true">Menu</span>
</a>

<a class="kt-btn kt-btn-icon kt-btn-mono active" data-kt-tooltip="true" data-kt-tooltip-placement="right" href="#">
    <i class="ki-filled ki-setting"></i>
    <span class="kt-tooltip" data-kt-tooltip-content="true">Paramètres</span>
</a>

<a class="kt-btn kt-btn-icon kt-btn-ghost" data-kt-tooltip="true" data-kt-tooltip-placement="right" href="#">
    <i class="ki-filled ki-message-text"></i>
    <span class="kt-tooltip" data-kt-tooltip-content="true">Messages</span>
</a>

<a class="kt-btn kt-btn-icon kt-btn-ghost" data-kt-tooltip="true" data-kt-tooltip-placement="right" href="#">
    <i class="ki-filled ki-user-square"></i>
    <span class="kt-tooltip" data-kt-tooltip-content="true">Utilisateur</span>
</a>

<a class="kt-btn kt-btn-icon kt-btn-ghost" data-kt-tooltip="true" data-kt-tooltip-placement="right" href="#">
    <i class="ki-filled ki-add-files"></i>
    <span class="kt-tooltip" data-kt-tooltip-content="true">Ajouter des fichiers</span>
</a>

<a class="kt-btn kt-btn-icon kt-btn-ghost" data-kt-tooltip="true" data-kt-tooltip-placement="right" href="#">
    <i class="ki-filled ki-users"></i>
    <span class="kt-tooltip" data-kt-tooltip-content="true">Utilisateurs</span>
</a>

<a class="kt-btn kt-btn-icon kt-btn-ghost" data-kt-tooltip="true" data-kt-tooltip-placement="right" href="#">
    <i class="ki-filled ki-shield"></i>
    <span class="kt-tooltip" data-kt-tooltip-content="true">Sécurité</span>
</a>

<a class="kt-btn kt-btn-icon kt-btn-ghost" data-kt-tooltip="true" data-kt-tooltip-placement="right" href="#">
    <i class="ki-filled ki-folder"></i>
    <span class="kt-tooltip" data-kt-tooltip-content="true">Dossier</span>
</a>

